# SmartFleet Client
# Copyright (c) 2026 Michael Schlenstedt. Alle Rechte vorbehalten.
# Nutzung, Weitergabe und Veraenderung nur nach den Lizenzbedingungen,
# die diesem Programm beiliegen (LICENSE).

[AUTHOR]
NAME=Michael Schlenstedt
EMAIL=info@smartfleetmanager.de

[PLUGIN]
VERSION=0.1.0

NAME=smartfleetclient
FOLDER=smartfleetclient

TITLE=SmartFleet Client

WEBSITE=https://github.com/mschlenstedt/LoxBerry-Plugin-SmartFleet-Client

[SYSTEM]
REBOOT=false

LB_MINIMUM=4.0.0.15
LB_MAXIMUM=false

ARCHITECTURE=false

CUSTOM_LOGLEVELS=true

INTERFACE=2.0

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/mschlenstedt/LoxBerry-Plugin-SmartFleet-Client/main/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/mschlenstedt/LoxBerry-Plugin-SmartFleet-Client/main/prerelease.cfg

